# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/

# ---------------------------
# Terraform
# ---------------------------
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# ---------------------------
# Local secrets
# ---------------------------
.env
*.pem
secrets.auto.tfvars

# ---------------------------
# Airflow (local state, DB, logs)
# ---------------------------
airflow/
*.db
*.pid
*.log

# ---------------------------
# Data outputs (not source code)
# ---------------------------
*.csv
*.parquet
*.gpkg
*.osm.pbf

# ---------------------------
# OS / Editor
# ---------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
